extends layout

block content
  div.nav
    div.logout
      form(method='post' action='/logout')
        label.tired Tired of talking?  
          input(type='submit', style="font-family: 'Slabo 27px'", name='logout', value="Logout!")
      div.others
        form(method="post", action="/displayTweet")
          label See other users:  
            input(type="text", style="font-family: 'Carrois Gothic'", name="otherTwit", placeholder="Enter username")
            label
              input(type="submit", style="font-family: 'Slabo 27px'", background="black", value="Submit")
    div.welcome
      if username
        h2 Welcome, #{ username.toUpperCase() }!
  div
    form(method="post" action="/twit")
      div.makeTweet
        h2
          label.express Express yo'self!  
            input(type="text" name="twit" style="font-family: 'Carrois Gothic'", placeholder="Type a twit!")
            label.submit
              input(type="submit" style="font-family: 'Slabo 27px'", value="Say it!")

    each twit in tweets
      div.tweetBlock
        img.avatar(src= twit.avatar)
        div.username
          span= username.toUpperCase()
            div
              span.tweetText= twit.tweet  
              span= twit.userID 
                div.timestamp
                  span= twit.timestamp
