extends layout

block content
  div.nav
    div.logout
      form(method='post' action='/logout')
        label.tired Tired of talking?  
          input(type='submit', name='logout', value="Logout!")
      div.others
        form(method="post", action="/displayTweet")
          label See other users:  
            input(type="text", name="otherTwit", placeholder="Enter username")
            label
              input(type="submit", value="Submit")
    div.welcome
      if username
        h2 Welcome, #{ username }!
  div
    form(method="post" action="/twit")
      div.makeTweet
        h2
          label Express yo'self!  
            input(type="text" name="twit" placeholder="Type a twit!")
            label.submit
              input(type="submit" value="Say it!")

    each twit in tweets
      div.tweetBlock
        img.avatar(src= twit.avatar)
        div.username
          span= username
            div
              span.tweetText= twit.tweet  
              span= twit.userID 
                div.timestamp
                  span= twit.timestamp
