extends layout

block content
  if username
    h1 Welcome, #{ username }!
  div 
    form(method="post" action="/twit")
      div
        label.textbox Express yo'self!  
          input(type="text" name="twit" placeholder="Type a twit!")
          
          label.submit
            input(type="submit" value="Say it!")

    each twit in tweets
      div.tweetBlock
        img.avatar(src= twit.avatar)
        div.tweetContent
          span.username= username
          span.tweetText= twit.tweet  
          span= twit.userID 
            div.timestamp 
              span= twit.timestamp